<% provide(:title, 'About Us' ) %>
<!DOCTYPE html>
<html>
<head>
	<title><%= full_title(yield(:title)) %></title>
</head>
<body>
	<h1>About Us</h1>
<p>Find me in app/views/static_pages/aboutus.html.erb</p>
</body>
</html>