<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
<head>
	<title><%= full_title(yield(:title)) %></title>
</head>
<body>
	<h1>Home</h1>
<div id="transparent">
<%=render 'layouts/home' %>
</div>
</body>
</html>
