<% provide(:title, 'News') %>
<!DOCTYPE html>
<html>
<head>
	<title><%= full_title(yield(:title)) %></title>
</head>
<body>
	<h1>Information Technology News - Security-Related</h1>
<div id='transparent'>
<%= render 'layouts/news' %>
</div>
</body>
</html>