@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html { overflow-y: scroll; }

body { 
background: url('wavy_background.jpg') no-repeat;
background-position: center;
background-size: stretch;
background-repeat: repeat-y;
padding-top: 60px; 
}

section { overflow: auto; }

textarea { resize: vertical; }

.center { text-align: center; 
  h1 {
    margin-bottom: 10px;
  }
}

#transparent {
  background-color:rgba(255,255,255,0.5);
  padding : 5px;
}

/* Graphics (e.g. buttons)
.button {
  display:block;
  width:250px;
  height:50px;
  text-indent:-9999px;
}
.button a {
  display:block;
  width:100%;
  height:100%;
  background:transparent url(button1.png) no-repeat top left;
  outline:none;
}
.button a:hover {
  background-position:0 -50px;
}

*/



/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  color: #E0E0E0;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
  color: white;
  text-decoration: none;
  }
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: white;
  a {
    color: white;
    &:hover {
      color: $gray;
      text-decoration: none;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */
aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Posts */
.posts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
  color: orange;
}
.timestamp {
  color: orange;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}


