<footer class="footer">
  <small>
    <a href="http://it499-securityportal.herokuapp.com/">IT-499 Security Portal for Like-Minded Professionals</a>
    by Team Alpha
  </small>
  <nav>
    <ul>
      <li><%= link_to "About Us",   aboutus_path %></li>
      <li><%= link_to "Contact Us", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>