<div id="transparent">
	<h3>Project Definition</h3>
	<p>
		The members of team alpha are working on creating a security-related website to help reduce reoccurring cyber crimes that happen over the Internet everyday.  Cyber criminals are working overtime to gain access to valuable data and resources that could cripple Government agencies, multi-million/billion dollar corporations, and disrupt commerce on a global scale.  This site will unite people that are willing to join the fight against cyber criminals.
	</p>
	<p>Some features to look forward to:</p>
	<ul>
		<li>Blog - share ideas / lessons learned with other Information Security Colleagues</li>
		<li>Meetup Calendar - area to display Security-Related meetup groups in the local area </li>
		<li>News - latest information pertaining to the world of Information Security</li>
		<li>Personalized User Content - Personal Profile pages that show statistics based on number of posts, followers, meetups scheduled. </li>
	</ul>
</div>